name: Main

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  main:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21.0'

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Cache Python Dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('testdata/requirements.txt') }}

      - name: Install Python Interface
        run: ./.ci/install_py_interface.sh 'main'

      - name: Build
        run: ./scripts/build.sh

      - name: Check Formatting
        run: ./scripts/check_formatting.sh

      - name: Check Duplicate API Locators
        run: ./scripts/check_duplicate_api_locators.sh

      - name: Run Base Tests
        env:
          AUTOGRADER__DOCKER__DISABLE: 'true'
        run: ./scripts/run_tests.sh

      - name: Run Submission Tests
        env:
          AUTOGRADER__DOCKER__DISABLE: 'true'
        run: ./.ci/run_remote_tests.sh

      - name: Verify Python Interface Test Data
        env:
          AUTOGRADER__DOCKER__DISABLE: 'true'
        run: ./.ci/verify_py_test_data.sh

  docker-deploy-latest:

    needs: main

    runs-on: ubuntu-22.04

    if: ${{ github.event_name == 'push' && github.repository_owner == 'edulinq' && (github.ref == 'refs/heads/main') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
            driver: docker

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: edulinq/autograder-server:latest
